:root {
  --background-primary-gray: #C4C4C4;
  margin: 0;
  padding: 0;
}

.game-header {
  align-items: center;
  background-color: var(--background-primary-gray);
  display: flex;
  height: 15vh;
  justify-content: space-around;
  position: absolute;
  width: 100%;
}

.game-header .left-header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-grow: 2;
  justify-content: left;
  padding: 1em;
}

.game-header .left-header img {
  border-radius: 50%;
  height: 50px;
  padding: 1em;
  width: 50px;
}

.game-header .right-header {
  min-width: 10%;
  padding: 1em;
}

.icon_settings {
  width: 30px;
}
